<%- include('../layouts/mainLayout', { title: 'Autoryzacja', content: '' }) %>

<div class="login-container">
  <h1>Autoryzacja</h1>

  <form action="/auth/login" method="POST" class="login-form">
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="form-group">
      <label for="password">Hasło:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <button type="submit" class="btn-center">Zaloguj się</button>
  </form>

  <p class="register-link">Nie masz jeszcze konta? <a href="/auth/register">Zarejestruj się</a></p>
</div>
